.DS_Store
.env
cloud-deployment/envs/.env
__pycache__/
.idea/
.python-version
cloud-deployment/lambda-code/*.zip
cloud-deployment/lambda-*/python/**
cloud-deployment/lambda-*/*.twb
cloud-deployment/lambda-*/*.twbx
**/pip-**
scratch
