## requirements-deps.txt
## Python dependencies to be packaged as AWS Lambda Layer

beautifulsoup4
bs4
certifi
chardet
colorama
greenlet
idna
lxml
python-dotenv
requests
six
slackclient
soupsieve
tableauserverclient
urllib3
xmltodict
